<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/normalize.css" type="text/css">
  <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
  <title>jelemux.dev</title>
</head>

<body>
  <header>
    <nav>
      {% set blog = get_section(path="blog/_index.md", metadata_only=true) %}
      <a href="{{ config.base_url }}{{ blog.path }}">{{ blog.title }}</a>

      {% set projects = get_section(path="projects/_index.md") %}
      <a href="{{ config.base_url }}{{ projects.path }}">{{ projects.title }}</a>

      {% set about = get_page(path="about/index.md") %}
      <a href="{{ config.base_url }}{{ about.path }}">{{ about.title }}</a>

      {% set archive = get_page(path="archive/index.md") %}
      <a href="{{ config.base_url }}{{ archive.path }}">{{ archive.title }}</a>
    </nav>
  </header>
  <main>
    <section>
      <div>
        {% block content %} {% endblock %}
      </div>
    </section>
  </main>
  <footer>
    <p>
      Copyleft 2020, 2022 Jeremias Weber
      <a href="https://codeberg.org/jelemux/jelemux.dev">Source</a>
    </p>
    <p>
      Find me on
      <a rel="me" href="https://social.tchncs.de/@jelemux">Mastodon</a>
    </p>
    <p>
      <a href="{{ config.base_url }}/{{ config.feed_filename }}">RSS</a>
    </p>
  </footer>
</body>

</html>