{% extends "base.html" %}

{% block content %}
  <h1>
    {{ section.title }}
  </h1>
  <div>
    {% for page in section.pages %}
      <article>
        <header>
          <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
          <time datetime="{{ page.date | safe }}">{{ page.date | date(format="%d.%m.%Y") }}</time>
        </header>
        <p>
          {% if page.summary %}
            {{ page.summary | striptags | safe }}
          {% elif page.extra.excerpt %}
            {{ page.extra.excerpt | striptags | safe }}
          {% else %}
            {{ page.content | striptags | truncate(length=300) }}
          {% endif %}
          <a href="{{ page.permalink | safe }}">Read more</a>
        </p>
      </article>
    {% endfor %}
  </div>
{% endblock content %}