{% extends "base.html" %}

{% block content %}
<h1>
  {{ section.title }}
</h1>
{{ section.content | safe }}
<ul>
  {% for page in section.pages %}
  <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
  {% endfor %}
</ul>
{% endblock content %}